<!-- nav-bar -->
<app-navbar></app-navbar>
<!-- Container -->
<div style="clear:both;"></div>
<app-carosual></app-carosual>
<div class="container">
    <div class="row">
        <div class="col-md-6 m-10">
            <div class="form-group">
                <label class="title1" for="search">Search: </label>
                <input type="text" class="form-control" id="search" placeholder="Search" name="search" [(ngModel)]="term">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" *ngFor="let cate of category |filter:term">
            <div class="inner">
                <div class="heading">{{cate.bookName}}</div>
                <div class="image">
                    <img src="../../assets/images/1570881770.jpg" width="73px;" height="114px;" alt="book">
                </div>
                <div class="authur">
                    <span>Author : </span> {{cate.bookAuthor}}
                </div>
                <div class="Publisher">
                    <span>Publisher : </span> {{cate.bookPublisher}}
                </div>
                <div class="category">
                    <span>Category: </span> {{cate.bookCategory}}
                </div>
                <p-button label="{{cate.bookStatus}}" (click)="onRequest(cate)"></p-button>
            </div>
        </div>
    </div>
    <br>
    <!-- <p-paginator [rows]="10" totalRecords="100" (onPageChange)="paginate($event)"></p-paginator> -->
</div>

<p-toast [style]="{marginTop: '80px'}" position="top-center"></p-toast>