<!-- nav-bar -->
<app-navbar></app-navbar>
<div style="clear:both"></div>
<!--Carosual-->
<app-carosual></app-carosual>
<!-- Container -->
<div class="container">
    <div class="row">
        <!-- <div class="col-md-3">
            <div class="inner-profile">
                <div class="profile_img">
                    <img src="https://image.flaticon.com/icons/svg/236/236832.svg" width="80%">
                </div>
                <div class="name"><label>Hi {{firstName}} {{lastName}}</label> </div>
            </div>
        </div> -->
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Book Name</th>
                        <th>Borrowed Start Date</th>
                        <th>Borrowed End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of borrowedBookDetails">
                        <td>{{book.bookName}}</td>
                        <td>{{book.borrowedStartDate}}</td>
                        <td>{{book.borrowedEndDate}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>